<!DOCTYPE html>
<html lang="en">{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SUPERDART</title>

    <!-- SLIDER REVOLUTION -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'rs-plugin/css/style.css' %}" media="screen" />
    <script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'rs-plugin/css/settings.css' %}" media="screen" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <!-- lightbox -->
    <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">


    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'stile.css' %}" rel="stylesheet">

  </head>
  <body>





<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/oksuperdart.png' %}" class="logo-ok"></a>
      <!--a class="navbar-brand" href="#"><img src="img/logo-biancook.png" class="logo-ok"></a-->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--ul class="nav navbar-nav navbar-right">
        <li class="active2"><a href="#" style="color: red">HOME <span class="sr-only">(current)</span></a></li>
        <li><a href="#">SHOP</a></li>
        <li><a href="#">PLAYER</a></li>
        <li><a href="#">EVENTI</a></li>
        <li><a href="#">CONTATTI</a></li>
        <li><a href="#">LINK</a></li>
      </ul-->

      <!--ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span style="margin-right:15px;">LOGIN/</span><img src="img/cart.png" class="cart"></a>
      </ul-->
      
      <ul id="menusocial" class="nav navbar-nav navbar-right">
        <li style="margin-left:30px;padding-left:0px;"><a href="https://www.facebook.com/fidart.bresciabergamo/" target="_Blank" style="padding-left:0px; padding-right:0px;"><i class="fa fa-facebook-square"></i></a></li>
        <li><a href="#" style="padding-left:0px; padding-right:0px;"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#" style="padding-left:0px; padding-right:0px;"><i class="fa fa-youtube-square"></i></a></li>
        <li><a href="mailto:zerba@superdart.it" style="padding-left:0px; padding-right:0px;"><i class="fa fa-envelope-o"></i></a></li>
      </ul>
      
      <ul id="carrello" class="nav navbar-nav navbar-right">
        <li><a href="#"><span style="margin-right:15px;">LOGIN/</span><img src="{% static 'img/cart.png' %}" class="cart"></a>
      </ul>
      
      <ul id="menu-scritte" class="nav navbar-nav navbar-right">
        <li><a href="{% url 'home' %}">HOME <span class="sr-only">(current)</span></a></li>
        <li><a href="#">PLAYER</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SHOP</a>
            <ul id="submenu" class="dropdown-menu">
                <li><a href="{% url 'prodotti-filter' 4 %}">FRECCE</a></li>
                <li><a href="{% url 'prodotti-filter' 5 %}">ASTINE</a></li>
                <li><a href="{% url 'prodotti-filter' 2 %}">ALETTE</a></li>
                <li><a href="{% url 'prodotti-filter' 9 %}">PUNTE</a></li>
                <li><a href="{% url 'prodotti-filter' 3 %}">ASTUCCI</a></li>
                <li><a href="{% url 'prodotti-filter' 10 %}">ACCESSORI</a></li>
                <li><a href="{% url 'prodotti-filter' 7 %}">ABBIGLIAMENTO</a></li>
            </ul>
        </li>
        <li><a href="#">CONTATTI</a></li>
        <li><a href="#">LINK</a></li>
        <li><a href="#">NEWS</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


{% block content %}



{% endblock %}










<div class="col-xs-12"><hr></div>


<footer>
  <div class="container">
    <div class="col-xs-12 col-sm-3">
      <h1 style="color: red">SUPERDART.IT</h1>
      <p>
        PRIVACY POLICY | INFO LEGALI<br>
        CONDIZIONI DI VENDITA'
        <br>
        <br>
        DIRITTO DI RECESSO<br>
        RESO GRATUITO
      </p>
    </div>
    
    <div class="col-xs-12 col-sm-3">
      <p><br>QUI PAGAMENTI SICURI CON:</p>
      <img src="{% static 'img/pagamento.png' %}" class="img-responsive">
    </div>
    
    <div class="col-xs-12 col-sm-3">
      <h3>SPEDIZIONI:</h3>
      <p>
        TEMPI E COSTI SPEDIZIONE<br>
        CONSEGNA GRATUITA<br>
        METODI DI PAGAMENTO DISPONIBILI
      </p>
    </div>
    
    <div class="col-xs-12 col-sm-3">
      <h3>SEGUICI:</h3>
      <p>
            <a href="https://www.facebook.com/fidart.bresciabergamo/" target="_Blank"><i class="fa fa-facebook-square"></i></a>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-youtube-square"></i>
      </p>
    </div>
    
  </div>
</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>

  </body>
</html>