<!DOCTYPE html>
<html lang="en">{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- tag google -->
    <meta name="google-site-verification" content="F6f0yjT4tO5wfuSiO_WzzV6YwXvQrL-qfwAqmow8ur8" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BERGE</title>

       <script type="text/javascript"> window.smartlook||(function(d) { var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0]; var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript'; c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c); })(document); smartlook('init', '8c4974ca1d619b29a69f7ac2d69193f17f3f6d72'); </script>

    <script type='text/javascript' src="{% static 'unitegallery/js/jquery-11.0.min.js' %}"></script>
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    
        <!-- UNITE GALLERY -->
    <script type='text/javascript' src="{% static 'unitegallery/js/unitegallery.min.js' %}"></script> 
	<link rel='stylesheet' href="{% static 'unitegallery/css/unite-gallery.css' %}" type='text/css' />
	<script type='text/javascript' src="{% static 'unitegallery/themes/tiles/ug-theme-tiles.js' %}"></script>

    <!-- SLIDER REVOLUTION -->
        <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script-->
        
    <link rel="stylesheet" type="text/css" href="{% static 'rs-plugin/css/style.css' %}" media="screen" />
    <script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'rs-plugin/css/settings.css' %}" media="screen" />

    <!-- OWL CAROUSEL -->
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">
    <script src="{% static 'owl-carousel/owl.carousel.js' %}"></script>





    {% block tab %}{% endblock %}

    {% block personaljs %}{% endblock %}


    

    <!-- FLEXSLIDER CAROUSEL ---->
    <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
    
    <!-- REFLECTIONS ---->
    <script type="text/javascript" src="{% static 'js/reflection.js' %}"></script>

    <!-- charts -->
    <!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script-->

    <!-- font -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
     <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'custom.css' %}" rel="stylesheet">



  </head>
  <body>

    {% include 'components/header.html' %}

    {% block content %}


    {% endblock %}



<div id="footer" class="container">
    <div class="col-xs-12"><img src="{% static 'img/luce_footer.png' %}" class="img-responsive"></div>

    <div id="link-sotto" class="col-xs-12 col-sm-3">
        <h3 class="text-center">
            <a href="{% url 'chi-siamo' %}">
                {% if session_language = 'eng' %}
                    ABOUT US
                {% elif session_language = 'fra' %}
                    PROFIL
                {% else %}
                    CHI SIAMO
                {% endif %}
            </a>
        </h3>
        <hr class="text-center" style="width: 50%">
    </div>

    <div id="link-sotto" class="col-xs-12 col-sm-3">
        <h3 class="text-center">
            <a href="{% url 'terms' %}">
                TERMS
            </a>
        </h3>
        <hr class="text-center" style="width: 50%">
    </div>

    <div id="link-sotto" class="col-xs-12 col-sm-3">
        <h3 class="text-center">
            <a href="{% url 'privacy' %}">
                PRIVACY & COOKIES
            </a>
        </h3>
        <hr class="text-center" style="width: 50%">
    </div>

    <div id="link-sotto" class="col-xs-12 col-sm-3">
        <h3 class="text-center">
            <a href="{% url 'servizio-clienti' %}">
                {% if session_language = 'eng' %}
                    CUSTOMER CARE
                {% elif session_language = 'fra' %}
                    SERVICE CLIENTS
                {% else %}
                    SERVIZIO CLIENTI
                {% endif %}
            </a>
        </h3>
        <hr class="text-center" style="width: 50%">
    </div>

    <div class="col-xs-12 col-sm-3"></div>

    <div class="col-xs-12 col-sm-3"></div>

    <div class="col-xs-12 col-sm-3"></div>

    <div class="col-xs-12"><p></p>Copyright ©2016 Berge 2016 | Pelletterie Palazzolesi | Via Molinaretti 30/32 | 24060 Cividino di C.Calepio | piva: 00960050169 <a href="http://abacus85.it" target="_Blank"><span style="float: right; font-size: 10px">designed by Abacus#85</span></a></p></div>
</div>



    {% block footerjs %}

    {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>

<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-86296943-1', 'auto');
 ga('send', 'pageview');

</script>

  

  </body>
</html>