{% extends 'base.html' %}


{% block content %}

<div id="chi-siamo" class="container">
<h3>CHI SIAMO</h3>

<p>
	Bergè nasce dal viaggio, dall'ascolto. Le nostre collezioni sono l'espressione dell'osservazione e della nostra fantasia, della nostra voglia di fare, della determinazione e dell'entusiasmo.
	<br><br>
	Descrivere il mondo Bergè è difficile, esso è fatto di sensazioni, di cultura, di desideri ispirati dall'uomo e dalla donna della città, cosmopolita. Urban Couture esprime l'atteggiamento di chi come noi vive la moda come espressione di quotidianità, ogni giorno diversa.
	<br><br>
	Artigianalità, mutazione, osservazione sono i valori chiave del brand Bergè.
	<br><br>
	Bergè nasce nel 1990 dall'intuizione del fondatore Ugo Mentasca già fondatore della ventennale cinturificio Pelletterie Palazzolesi per soddisfare le richieste di borse e accessori in pelle. Un marchio 100% italiano, specializzato nella produzione e nella scelta di pellami nato e cresciuto nel territorio bergamasco noto per la qualità ed esperienza nella lavorazione di pelle e minuterie metalliche moda.
	<br><br>
	Il valore aggiunto è l'expertise produttivo maturato in famiglia e tramandato alla seconda generazione che ha dato vita alla collezione maschile BERGE' UOMO, linea che ha riscontrato grande successo in Italia ed all'estero. Continui investimenti in ricerca e sviluppo, sperimentazione hanno permesso all'azienda di rimanere al passo con i tempi offrendo un prodotto dalla cura e qualità artigianali con un posizionamento medio alto. Borse e cinture in vera pelle con applicazioni di strass e borchie hanno contraddistinto le collezioni Bergè rendendole famose nel mondo. Dettagli preziosi, strass garantiti swarovski spesso in contrasto con pelli spazzolate, effetto vintage.<br>
	Nel 2009 il marchio Bergè ha ottenuto la certificazione "Produttori garantiti 100% Made in Italy"; tutte le borse e cinture Bergè sono rintracciabili grazie alla codifica anti-contraffazione di ogni cartellino.
	<br>
	<br>
	<br>
</p>

</div>

{% endblock %}