
{% extends 'base.html' %}



{% block content %}


{% include 'components/slider.html' %}

<section id="categorie">
  <div class="container">
    <h2>SHOP</h2>
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      	<a href="categoria.html">
        	<img src="img/quadrato.jpg" class="img-responsive">
       	</a>
        <h3>FRECCE</h3>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="img/quadrato.jpg" class="img-responsive">
        <h3>ASTINE</h3>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="img/quadrato.jpg" class="img-responsive">
        <h3>ALETTE</h3>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="img/quadrato.jpg" class="img-responsive">
        <h3>PUNTE</h3>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="img/quadrato.jpg" class="img-responsive">
        <h3>ASTUCCI</h3>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="img/quadrato.jpg" class="img-responsive">
        <h3>ACCESSORI</h3>
      </div>

    </div><!-- row-->
  </div>
</section>



<section id="prodotti">
  <div class="container">
    <h2>ABBIGLIAMENTO</h2>
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="img/quadrato.jpg" class="img-responsive">
        <h3>&nbsp;</h3>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="img/quadrato.jpg" class="img-responsive">
        <h3>&nbsp;</h3>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="img/quadrato.jpg" class="img-responsive">
        <h3>&nbsp;</h3>
      </div>

    </div><!-- row -->
  </div><!-- container -->
</section>



<section id="prodotti">
  <div class="container">
    <h2>ALTRI SERVIZI/PRODOTTI</h2>
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="img/quadrato.jpg" class="img-responsive">
        <h3>&nbsp;</h3>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="img/quadrato.jpg" class="img-responsive">
        <h3>&nbsp;</h3>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="img/quadrato.jpg" class="img-responsive">
        <h3>&nbsp;</h3>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="img/quadrato.jpg" class="img-responsive">
        <h3>&nbsp;</h3>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="img/quadrato.jpg" class="img-responsive">
        <h3>&nbsp;</h3>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <img src="img/quadrato.jpg" class="img-responsive">
        <h3>&nbsp;</h3>
      </div>
      
    </div><!-- row -->
  </div><!-- container -->
</section>


<section id="banda">
  <div class="col-xs-12" style="margin-left: 0px; padding-left: 0px;">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 colblu" style="background-image:url('img/fondoro.png')">
      <h1>SHOP ONLINE</h1>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 entra">
      <h1>ENTRA <i class="fa fa-arrow-circle-o-right"></i></h1>
    </div>
  </div>
</section>


{% endblock %}