
{% for comp in product.composition_set.all %}

<div class="col-xs-12 col-sm-2">{% load cropping %}
  <img src="{% cropped_thumbnail comp "thumb" %}" class="img-responsive">
  <p><input type="radio" name="composition" value="{{comp.id}}"/> {{comp.name}}</p>
  <p>Disponibili: {{ comp.quantity }}pz.</p>
  {% if comp.lunghezzaCinture  %}
  <p>Lunghezza: {{comp.lunghezzaCinture}}</p>
  {% endif %}
  {% if comp.scarpemisura %}
  <p>Misura: {{comp.scarpemisura}}</p>
  {% endif %}
</div>

<label>Quantità:</label>
<input name="quantity" type="number" min="1" step="1" value="0" class="form-control"/>

{% endfor %}
