<!-- colori -->
<br>
<label>
	{% if session_language = 'eng' %}
		Colors Available:
	{% elif session_language = 'fra' %}
		Couleurs disponibles:
	{% else %}
		Colori Disponibili:
	{% endif %}
</label><br>

	<div class="row">
		{% for col in product.color.all %}
			<div class="col-xs-12 col-sm-3 col-md-2 thumb-colori">
				{% if col.image %}
					{% load cropping %}
					<img src="{% cropped_thumbnail col 'thumb' %}" class="img-responsive">
				{% else %}
					<i class="fa fa-circle" aria-hidden="true" style="color: #{{col.css_color}}"></i>
				{% endif %}
				<input type="radio" name="color" value="{{col.id}}" required> 
					{% if session_language = 'eng' %}
						{{col.name_uk}}{% if col.name_uk|length <= 20 %}</br>&nbsp;{% endif %}
					{% elif session_language = 'fra' %}
						{{col.name_fr}}{% if col.name_fr|length <= 20 %}</br>&nbsp;{% endif %}
					{% else %}
						{{col.name}}{% if col.name|length <= 20 %}</br>&nbsp;{% endif %}
					{% endif %}
					
			</div>
		{% endfor %}
	</div><!-- row -->




<div class="col-xs-12 col-sm-8">
{% for cat in product.category.all %}
	{% if cat.id == 2 %}
		<!-- Cintura Lunghezza -->
		<label>
					{% if session_language = 'eng' %}
		                Length Belts:
		            {% elif session_language = 'fra' %}
		                Ceintures De Longueur:
		            {% else %}
		                Lunghezza Cinture:
		            {% endif %}
		</label>
		<select name="cintureLunghezza" class="form-control">
			{% for sc in lunghezzacinture_list %}
				<option value="{{sc.id}}">{{sc.name}}</option>
			{% endfor %}
		</select> 
	{% endif %}
	
	<!-- Misura Scarpe -->
	{% if cat.id == 5 %}
	<label>
					{% if session_language = 'eng' %}
		                Measures Shoes:
		            {% elif session_language = 'fra' %}
		                Mesures Chaussures:
		            {% else %}
		                Misure Scarpe:
		            {% endif %}
	</label>
	<select name="scarpemisura" class="form-control">
		{% for sc in tagliascarpe_list %}
			<option value="{{sc.id}}">{{sc.name}}</option>
		{% endfor %}
	</select> 
{% endif %}

{% endfor %}
</div>

<div class="col-xs-12 col-sm-4">
	<!-- quantità -->
				<label>
					{% if session_language = 'eng' %}
		                Quantity:
		            {% elif session_language = 'fra' %}
		                Quantité:
		            {% else %}
		                Quantità:
		            {% endif %}
				</label>
				<input name="quantity" type="number" min="1" step="1" value="0" class="form-control"/>	
</div>
