<section id="top">{% load staticfiles %}
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_superuser %}
        <li><a href="/admin">AREA ADMIN</a></li>
        <li><a href="{% url 'customer-map' %}"><i class="fa fa-map-marker" aria-hidden="true"></i> Mappa Clienti</a>
        <li><a href="/chart"><i class="fa fa-area-chart" aria-hidden="true"></i> Statistiche</a></li>
        {% endif %}
        <li><a href="{% url 'customer' %}"><i class="fa fa-user"></i></a></li>
        <li><a href="{% url 'logout' %}"><i class="fa fa-lock"></i></a></li>
        <li><a href="{% url 'show-cart' %}"><i class="fa fa-shopping-cart"></i></a></li>

        <li class="flagli"><a href="/language/ita"><img src="{% static 'img/flag/ita.png' %}" class="flag"></a></li>
        <li class="flagli"><a href="/language/eng"><img src="{% static 'img/flag/uk.png' %}" class="flag"></a></li>
        <li class="flagli"><a href="/language/fra"><img src="{% static 'img/flag/fra.png' %}" class="flag"></a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</section>


<section id="menu-bar">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="col-xs-12 col-sm-4"><img src="{% static 'img/light.png' %}" class="light center-block"></div>
      <div class="col-xs-12 col-sm-4">
        <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" class="logo center-block"></a>
      </div>
      <div class="col-xs-12 col-sm-4"><img src="{% static 'img/light.png' %}" class="light center-block"></div>
    </div>
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" data-hook>
          <li class="active"><a href="{% url 'home' %}">HOME</a></li>
          {% for cat in category_list %}
          <li>
            <a href="{% url 'categoria' cat.id %}">
              {% if session_language = 'eng' %}
                {{cat.title_uk}}
              {% elif session_language = 'fra' %}
                {{cat.title_fr}}
              {% else %}
                {{cat.title}}
              {% endif %}
            </a>
        </li>
          {% endfor %}
        </ul>
        
        <form class="navbar-form navbar-right" role="search" action="/results/" action="" method="get">
          <div class="form-group">
            <div class="input-group">
  	         <input id="id_q" name="q" type="text" class="form-control" id="exampleInputAmount">
  	         <div class="input-group-addon">
                <button type="submit" class="button-cerca"><i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </form>{% csrf_token %}
          
        <ul id="social-menu" class="nav navbar-nav navbar-right">
          <li><a href="https://www.facebook.com/berge.italia" target="_Blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
           <li><a href="https://twitter.com/bergeitalia" target="_Blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
           <li><a href="https://www.instagram.com/berge_italia/?hl=it" target="_Blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</section>
